<section class="menu-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-collapse collapse">
          <ul id="menu-top" class="nav navbar-nav navbar-right">
            <li>
              <a href="/admin" class="menu-top-active">DASHBOARD</a>
            </li>

            <li><a href="/admin/addEmploye">Add Employee</a></li>

            <li><a href="/admin/todayAttendance">Today Attendance</a></li>
            <li><a href="/admin/allEmployee">Total Employee</a></li>
            <li><a href="/admin/mesgEmployee">Message Employee</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
