<section class="menu-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-collapse collapse">
          <ul id="menu-top" class="nav navbar-nav navbar-right">
            <li>
              <a href="/employee" class="menu-top-active">DASHBOARD</a>
            </li>

            <li><a href="/employee/attendance">Attendance</a></li>
            <li><a href="/employee">View Attendance</a></li>
            <li><a href="/employee">Leave Request</a></li>
            <li><a href="/employee">Text Admin</a></li>
            <li><a href="/employee/survey">Complete Survey</a></li>
            <li><a href="/employee/location">GiveYourLocation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
